# Firebase Admin Settings
# Download your serviceAccountKey.json from Firebase Console -> Project Settings -> Service Accounts
# Place it inside this `server` directory. It should be named specifically `serviceAccountKey.json`

# Email SMTP Settings (Required for sending emails)
# If you don't fill this out, Nodemailer will use 'Ethereal Email' (a free testing service)
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
# SMTP_USER=your_email@gmail.com
# SMTP_PASS=your_app_password
